<!DOCTYPE html>
<html>
<head>
    <title>Edit Customer</title>
</head>
<body>
    <h1>Edit Customer</h1>
    <form action="/customer/edit/<%= customer.CustomerId %>" method="post">
        <label for="FirstName">First Name:</label>
        <input type="text" id="FirstName" name="FirstName" value="<%= customer.FirstName %>" required><br>
        <label for="LastName">Last Name:</label>
        <input type="text" id="LastName" name="LastName" value="<%= customer.LastName %>" required><br>
        <label for="Company">Company:</label>
        <input type="text" id="Company" name="Company" value="<%= customer.Company %>"><br>
        <button type="submit">Save Changes</button>
    </form>
</body>
</html>
