<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Add Customer</h1>
  <form action="/formdata" method="post">
    <label>First Name</label>
    <input type="text" name="FName" required /><br><br>
    <label>Last Name</label>
    <input type="text" name="LName" required /><br><br>
    <label>Company</label>
    <input type="text" name="Company" /><br><br>
    <label>City</label>
    <input type="text" name="City" /><br><br>
    <input type="submit" name="Done" />
  </form>
</body>
</html>
